*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.menu ul li{
    list-style-type: none;
    text-align: center;
    background-color: darkgrey;
    margin-bottom: 5px;
}
.header{
    margin: 10px;
    height: 100px;
    text-align: center;
    background-color: gray;
}
h1{
    padding: 10px;
}
.container{
    display:flex;
    flex-direction: row;
}
.menu{
    padding: 10px;
    width: 200px;
}
.menu ul li{
    padding:10px;
}
.content .text{
    background-color: greenyellow;
    padding:20px;
}
.content{
    width: 78%;
   
}
.about{
    width: 200px;
    padding:20px;
    background-color: darkgrey;
}
.clear-fix{
    clear: both;
}

.row{
    display: flex;
    flex-direction: row;
}
.img-text{
    width: 33.33%;
    margin: 20px;
}
.img-text img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 620px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .menu, .content, .about{
        width:100%;
    }
    .about{
        text-align: center;
        margin-top: 10px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .img-text{
        width: 100%;
    }
}
.img-text p{
    font-size: 25px;
}
#text{
    font-size: 15px;
    opacity: 0.6;
}